.main-app {
  margin: 5% 5%;
  border: 1px ridge #464141;
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #464141;
}

.container {
  border-bottom: rgb(219, 153, 30) 2px ridge;
}
.pagination-outer {
  text-align: center;
}
.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: inline-flex;
  position: relative;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: #47ccde;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
  background-color: azure;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #dddddd;
}
input[type="text"] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 100%;
}
